Flask==3.1.0
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0
Flask-JWT-Extended==4.7.1
Flask-SocketIO==5.5.1
Flask-CORS==5.0.1
python-dotenv==1.1.0
psycopg2-binary==2.9.10
marshmallow==3.25.1
stripe==11.5.0
redis==5.2.1
celery==5.4.0
alembic==1.14.1
gunicorn==23.0.0
webargs==8.7.0
email-validator==2.2.0
